
	<!--==================================================-->
	<!-- Start Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-discription">
							<p>SOCIÉTÉ CIVILE IMMOBILIÈRE KAYOA</p>
						</div>
						<div class="breatcome-title">
							<h1>Service Details</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Service Details</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Service Details Area -->
	<!--==================================================-->
	<div class="service-details-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-8">
					<div class="widget-categories-box">
						<!-- widget categories menu -->
						<div class="widget-categories-menu">
							<ul>
								<li><a href="service-details.html"> Guest Quaters <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
								<li><a href="service-details.html"> Concrete Tile <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
								<li><a href="service-details.html"> Road service <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
								<li><a href="service-details.html"> Other solution <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
								<li><a href="service-details.html"> Train Freight <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
								<li><a href="service-details.html"> Swimming Pool <span><i
												class="bi bi-chevron-double-right"></i></span></a></li>
							</ul>
						</div>
					</div>
					<div class="widget-contact-box">
						<div class="widget-contact-title">
							<h4>Contact withus for
								any advice</h4>
						</div>
						<div class="widget-contact-icon">
							<img src="assets/images/service/service-details-icon.jpg" alt="">
						</div>
						<div class="widget-contact-content">
							<h6>Need help? Talk to an expert</h6>
							<h4>+892 12311 9999</h4>
						</div>
					</div>
					<div class="widget-download-box">
						<div class="widget-download-btn">
							<a href="#"><i class="bi bi-filetype-pdf"></i> Download PDF File</a>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12">
					<div class="service-details-thumb">
						<img src="assets/images/service/service-details1.jpg" alt="">
					</div>
					<div class="service-details-title">
						<h4>Projects Details</h4>
					</div>
					<div class="service-detials-discription">
						<p>To be clear, Project Online is NOT a web-based version of Project Professional. Project
							Online is an entirely separate service that offers full portfolio and project management
							tools on the web. It includes Project Web App, and can, depending on your subscription, also
							include Project Online Desktop Client, which is a
							Discover Community. Explore subscription benefits, browse training courses, learn how to
							secure</p>
						<p>To be clear, Project Online is NOT a web-based version of Project Professional. Project
							Online is an entirely separate service that offers full portfolio and project management
							tools on the web. It includes Project Web App, and can, depending on your subscription, also
							include Project Online</p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="service-details-thumb">
								<img src="assets/images/service/service-details2.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="service-list-title">
								<h4>Global Transaction Advisory</h4>
							</div>
							<div class="service-detials-list">
								<span>Customer engagement matters</span>
								<span>The Love Boat promis someg for Plan</span>
								<span>Research beyond the business plan</span>
								<span>Id risus pharetra est, at rhoncus</span>
								<span>Elit curabitur amet risus bibendum.</span>
								<span>Non saed velit dictum quam risus.</span>
							</div>
						</div>
					</div>
					<div class="service-details-title">
						<h4>Our Strengths And Advantages</h4>
					</div>
					<div class="service-detials-discription">
						<p>To be clear, Project Online is NOT a web-based version of Project Professional. Project
							Online is an entirely separate service that offers full portfolio and project management
							tools on the web. It includes Project Web App, and can, depending on your subscription, also
							include Project Online Desktop Client, which is a
							Discover Community. Explore subscription benefits, browse training courses, learn how to
							secure</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Service Details Area -->
	<!--==================================================-->
