
	<!--==================================================-->
	<!-- Start Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-discription">
							<p>SOCIÉTÉ CIVILE IMMOBILIÈRE KAYOA</p>
						</div>
						<div class="breatcome-title">
							<h1>Blog</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Blog Area -->
	<!--==================================================-->
	<div class="blog-area style-two inner-page respon">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog4.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i>  6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two respon">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog5.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i>  6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two respon">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog6.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i>  6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-190">
					<div class="blog-items-box style-two respon2">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog7.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i> 6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-190">
					<div class="blog-items-box style-two respon3">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog8.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i>  6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-190">
					<div class="blog-items-box style-two respon3">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog9.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i> 6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Blog Area -->
	<!--==================================================-->
