<!-- Start Topbar Area -->
	<!--==================================================-->
	<div class="topbar-area">
		<div class="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="topbar-items">
							<ul>
								<li><i class="bi bi-geo-alt"></i> Bingerville, Djobissandret 1 <span>Côte d'ivoire</span></li>
								<li><i class="bi bi-telephone"></i> (+225) 0787454545</li>
								<li><a href="#"><i class="bi bi-envelope"></i> kayoasci@gmail.com</a></li>
								<li class="inner"><a class="search-box-btn search-box-outer" href="#"><i
											class="bi bi-search"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Topbar Area -->
	<!--==================================================-->
