<!--==================================================-->
	<!-- Start Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-discription">
							<p>SOCIÉTÉ CIVILE IMMOBILIÈRE KAYOA</p>
						</div>
						<div class="breatcome-title">
							<h1>Project Grid</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Project Grid</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Project Grid Area -->
	<!--==================================================-->
	<div class="project-grid-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="project-grid-thumb">
						<img src="assets/images/project/grid1.jpg" alt="">
						<div class="project-grid-content">
							<h4><a href="#">Experts in technology fields</a></h4>
							<p>Transportatioo 2021</p>
						</div>
						<div class="project-grid-icon">
							<a class="project-grid venobox vbox-item" data-gall="myportfolio"
								href="assets/images/project/grid1.jpg"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="row">
						<div class="col-lg-12">
							<div class="project-grid-thumb">
								<img src="assets/images/project/grid2.jpg" alt="">
								<div class="project-grid-content">
									<h4><a href="#">Experts in technology fields</a></h4>
									<p>Transportatioo 2021</p>
								</div>
								<div class="project-grid-icon">
									<a class="project-grid venobox vbox-item" data-gall="myportfolio"
										href="assets/images/project/grid2.jpg"><i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="project-grid-thumb">
								<img src="assets/images/project/grid3.jpg" alt="">
								<div class="project-grid-content">
									<h4><a href="#">Experts in technology fields</a></h4>
									<p>Transportatioo 2021</p>
								</div>
								<div class="project-grid-icon">
									<a class="project-grid venobox vbox-item" data-gall="myportfolio"
										href="assets/images/project/grid3.jpg"><i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Project Grid Area -->
	<!--==================================================-->

