	<!-- Start Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-discription">
							<p>SOCIÉTÉ CIVILE IMMOBILIÈRE KAYOA</p>
						</div>
						<div class="breatcome-title">
							<h1>About Us</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start About Area -->
	<!--==================================================-->
	<div class="about-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="about-images">
						<div class="about-thumb">
							<img src="assets/images/about/about2.png" alt="">
							<div class="about-shape3">
								<img src="assets/images/about/about-shape.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="about-content ml-10">
						<div class="section-title">
							<div class="section-sub-thumb">
								<img src="assets/images/resource/s-title-shape.png" alt="">
							</div>
							<div class="section-sub-titile about">
								<h4> Nous pouvons vous aider à réaliser votre</h4>
							</div>
							<div class="section-main-title about">
								<h2>Des espaces de vie de rêve pour le stockage de nouvelles constructions</h2>
							</div>
						</div>
						<div class="about-discription">
							<p>Payment solutions enable businesses to accept payments Payment stions enable businesses to 
								accept payments from ctly customers ctly securely. stions enable businesses 
								to accept payments from ctly customers ctly securely. </p>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="about-list">
									<ul>
										<li>Smart Home Design</li>
										<li>Get Building Permission</li>
										<li>Exceptional Lifestyle</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="about-list">
									<ul>
										<li>Complete 24/7 Security</li>
										<li>Business & Economy</li>
										<li>Research & development</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- process bar -->
						<div class="process-ber-plugin">
							<span class="process-bar">City development</span>
							<div id="bar1" class="barfiller">
								<div class="tipWrap" style="display: inline;">
									<span class="tip" style="left: 408.106px; transition: left 7s ease-in-out 0s;">79%</span>
								</div>
								<span class="fill" data-percentage="79" style="background: rgb(22, 181, 151); width: 365.811px; transition: width 7s ease-in-out 0s;"></span>
							</div>  
						</div>
						<!-- about infor -->
						<div class="about-info">
							<div class="hamilton-btn about2">
								<a href="#">Learn More</a>
							</div>
							<div class="about-bottom">
								<div class="about-bottom-shape">
									<img src="assets/images/about/about-bottom.png" alt="">
								</div>
								<div class="about-content">
									<h5>Aleesha Brown</h5>
									<span>City Mayor</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End About Area -->
	<!--==================================================-->


	<!--==================================================-->
	<!-- Start Service Area -->
	<!--==================================================-->
	<div class="service-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-sub-titile">
							<h4>Browse Our Dream House</h4>
						</div>
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-main-title">
							<h2>Discover Popular Properties</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="service_list owl-carousel">
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service1.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">New Apartment Nice View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service2.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Single Family Home View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service3.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Apartment Luxury Family Home</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service1.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">New Apartment Nice View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service2.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Single Family Home View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service3.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Apartment Luxury Family Home</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service1.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">New Apartment Nice View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service2.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Single Family Home View</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="service-single-box">
							<div class="service-thumb">
								<img src="assets/images/service/service3.png" alt="">
								<div class="service-rate">
									<h4>$987<span>/Month</span></h4>
								</div>
							</div>
							<div class="service-content">
								<div class="service-titile">
									<h4><a href="#">Apartment Luxury Family Home</a></h4>
								</div>
								<div class="service-discription">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing
										sed do eiusmod tempor incididunt ut labore</p>
								</div>
								<div class="service-faciliti">
									<ul>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon1.png" alt="">
											</div>
											<span>4 Room</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon2.png" alt="">
											</div>
											<span>Bathroom</span>
										</li>
										<li>
											<div class="service-icon-thumb">
												<img src="assets/images/service/service-icon3.png" alt="">
											</div>
											<span>Carage</span>
										</li>
									</ul>
								</div>
								<div class="service-adress">
									<div class="service-location">
										<span><i class="bi bi-geo-alt"></i> 778 Panama City, FL</span>
									</div>
									<div class="service-icon">
										<span><i class="bi bi-heart"></i></span>
										<span><i class="bi bi-arrow-right"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Service Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Team Area -->
	<!--==================================================-->
	<div class="team-area inner-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-sub-titile">
							<h4>Our Dream Msst Team</h4>
						</div>
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-main-title">
							<h2>Meet Our Awesome Member!</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team1.png" alt="">
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="bi bi-share-fill"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h4><a href="#">Md Sahinur Islam</a></h4>
							<h6>Chief Engineer</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team2.png" alt="">
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="bi bi-share-fill"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h4><a href="#">Tanjila Akthar Nila</a></h4>
							<h6>Chief Engineer</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team3.png" alt="">
						</div>
						<div class="team-social-icon">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="bi bi-share-fill"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h4><a href="#">Md Sofekul Islam</a></h4>
							<h6>Chief Engineer</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Team Us Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Testimonial  Area -->
	<!--==================================================-->
	<div class="testi-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-sub-titile testi">
							<h4>Browse Testimonial Our</h4>
						</div>
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-main-title testi">
							<h2>What Our Clients Say About Us</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="testi-itmes-box">
						<div class="testi-items">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi1.png" alt="">
							</div>
							<div class="testi-title">
								<h4>Fiorino Savino</h4>
								<span>Dramatically enhance</span>
							</div>
						</div>
						<div class="testi-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse </p>
						</div>
						<div class="testi-icon">
							<i class="bi bi-quote"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="testi-itmes-box">
						<div class="testi-items">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi2.png" alt="">
							</div>
							<div class="testi-title">
								<h4>Catello Adolfo</h4>
								<span>Dramatically enhance</span>
							</div>
						</div>
						<div class="testi-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse </p>
						</div>
						<div class="testi-icon">
							<i class="bi bi-quote"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="testi-itmes-box">
						<div class="testi-items">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi3.png" alt="">
							</div>
							<div class="testi-title">
								<h4>Taide Marisa</h4>
								<span>Dramatically enhance</span>
							</div>
						</div>
						<div class="testi-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse </p>
						</div>
						<div class="testi-icon">
							<i class="bi bi-quote"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Testimonial  Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Blog Area -->
	<!--==================================================-->
	<div class="blog-area style-two inner-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-sub-titile">
							<h4>Blog & News View All</h4>
						</div>
						<div class="section-sub-thumb">
							<img src="assets/images/resource/s-title-shape.png" alt="">
						</div>
						<div class="section-main-title">
							<h2>Latest News & Articals</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog4.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i> 6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>	
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two inner2">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog5.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i> 6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>	
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-items-box style-two inner">
						<div class="blog-thumb style-two">
							<img src="assets/images/blog/blog6.png" alt="">
						</div>
						<div class="blog-content style-two">
							<div class="blog-meta style-two">
								<span><i class="bi bi-person-fill"></i> By Admin</span>
								<span><i class="bi bi-wechat"></i> 6 Comments</span>
							</div>
							<div class="blog-title style-two">
								<h4><a href="blog-details.html">Retail banks wakeup to digital</a></h4>	
							</div>
							<div class="blog-button">
								<a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
							</div>
							<div class="blog-button two">
								<a href="#">Share Post <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Blog Area -->
	<!--==================================================-->

